* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header {  

    background-color: white;  
    position: fixed; 
    justify-content: center;
    margin: 0px; 
    padding: 0px;
    left: 0;  
    right: 0;  
    top: 0px;  
    height: 40px;  
    display: flex;  
    align-items: center;  
    box-shadow: 0 0 0 0 black; 
    }  
    header * {  
      font-size: 20px;
      font-weight: 400;
    display: inline;  
    }  
    header li {  
    margin: 20px;  
    }  
    header li a {  
    color: #e50be5;  
    text-decoration: none;  
    }  

    h2 {
        margin-top: 60px;
        color: black;
    }
    
    footer {
        bottom: 2;
        height: 40px;
        margin-top: 30px;
        text-align: center;
        vertical-align: middle;
    }